/* =Content
----------------------------------------------- */

.sticky {
}
.hentry {
	margin: 0 0 $vspacing;
}
.byline,
.updated {
	display: none;
}
.single, .group-blog {
	.byline {
		display: inline;
	}
}
.page-content,
.entry-content,
.entry-summary {
	margin: $vspacing 0 0;
}
.page-links {
	clear: both;
	margin: 0 0 $vspacing;
}

/* home page specific */

.home .post {
	float: left;
	width: 48%;
	
	.entry-header {
		max-height: 280px;
		position: relative;
		overflow: hidden;
		padding-bottom: 40px;

		.entry-meta {
			position: absolute;
			z-index: 2;
			bottom: 0;
			background: #fff;
			width: 100%;
			padding: .5em 0;
			border-bottom: 1px solid #ccc;
			font-weight: 300;
			font-size: .9em;
			text-transform: uppercase;
		}

		img {
			bottom: 0;
			z-index: 1;
		}
	}

	h2 {
		font-size: 1.5em;
		text-transform: uppercase;
		line-height: 1em;
		background: #fff;
		padding: .5em 0;
		position: relative;
		z-index: 2;
		
		a {
			text-decoration: none;
			color: $cPink;
		}
	}
	
	&:nth-child(2n - 1) {
		margin-left: 2%;
	}

	&:nth-child(2n - 2) {
		margin-right: 2%;
		clear: left;
	}

	.entry-content {
		margin-top: .5em;
	}
}


@media screen and (max-width: 980px) {
	.home .post {
		float: none;
		width: 100%;
		margin: $vspacing*2 0 !important;
	}

	.home h1 + .post {
		margin-top: 0 !important;
	}
}

a.more {
	display: inline-block;
	padding: .5em 1em;
	background: $cPink;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 300;
	font-size: .7em;
	
	&:hover {
		color: #fff !important;
		background: $cPurple;
	}
}