/* =Menu
----------------------------------------------- */

.main-navigation {
	clear: both;
	display: block;
	width: 100%;

	// first level
	ul {
		list-style: none;
		padding-left: 0;
		width: 60%;
		margin: auto;

		li {
			position: relative;

			a {
				display: block;
				text-decoration: none;
				padding: .5em 0;
				text-align: center;
				border-bottom: 1px solid lighten($cPink, 40%);
				
				&:hover {
					background: rgba(255,255,255,.5);
				}
			}

			&:first-child a {
				border-top: 1px solid lighten($cPink, 40%);
			}

			// link hover
			&:hover {
				> a { }
				> ul { display: block; }
			}

		}

		li.current_page_item, li.current-menu-item {
			a {}
		}

		// second level
		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			display: none;
			float: left;
			position: absolute;
				top: $vspacing;
				left: 0;
			z-index: 99999;

			&:hover {
				> a {};
			}

			li {
				a {
					width: 200px;
					&:hover {};
				}
			}

			// third level
			ul {
				left: 100%;
				top: 0;
			}

		}
	}

}

/* Small menu */
.menu-toggle {
	display: none;
	cursor: pointer;
}

@media screen and (max-width: 600px) {
	.main-navigation ul {
		width: 90%;
		text-align: center;
		border-top: 1px solid lighten($cPink, 40%);
		border-bottom: 1px solid lighten($cPink, 40%);
		
		li {
			display: inline-block;
			border-left: 1px solid lighten($cPink, 40%);
			
			a {
				padding: .75em;
				border: 0 !important;
			}

			&:last-child {
				border-right: 1px solid lighten($cPink, 40%);
			}
		}
	}
}